@import '../variables/breakpoints.variable';

@mixin bigger-than($media, $breakpoints: $breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    @if $media == $breakpoint {
      @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  }
}

@mixin smaller-than($media, $breakpoints: $breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    @if $media == $breakpoint {
      @media only screen and (max-width: map-get($breakpoints, $breakpoint) - 1) {
        @content;
      }
    }
  }
}

@mixin between-breakpoints($min, $max, $breakpoints: $breakpoints) {
  $min-px: null;
  $max-px: null;
  @each $breakpoint in map-keys($breakpoints) {
    @if $min == $breakpoint {
      $min-px: map-get($breakpoints, $breakpoint);
    }
    @if $max == $breakpoint {
      $max-px: map-get($breakpoints, $breakpoint) - 1;
    }
  }
  @media only screen and (min-width: $min-px) and (max-width: $max-px) {
    @content;
  }
}
