/* 
  Reset stylesheet based on Eric Meyer's one:
  https://meyerweb.com/eric/tools/css/reset
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-weight: 100;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration-line: none;
  cursor: pointer;
}

textarea:focus,
button:focus {
  background-color: transparent;
  outline: none;
}

// Remove Chrome yellow autofilling.
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// select and input do not take 100% of the width by default in MS Edge.
select {
  border: 1px solid;
  // Unify select for all browsers. Then style it specifically if necessary.
  width: 100%;
  // This rule makes Safari take the height correctly.
  -webkit-appearance: menulist-button;
  &:focus {
    background-color: transparent;
    outline: none;
  }
  // Remove Chrome yellow autofilling.
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

input {
  width: 100%;
  &:focus {
    background-color: transparent;
    outline: none;
  }
  // Remove Chrome yellow autofilling.
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
