$grid-area-placements: 'align', 'justify';
$grid-area-types: 'items', 'self', 'content';
$item-axis-alignments: 'start', 'end', 'center', 'stretch';
$content-axis-alignments: 'start', 'end', 'center', 'stretch', 'space-around',
  'space-between', 'space-evenly';
